body{
    background-color: rgb(252, 237, 249);
    font-family:"Poppins", sans-serif; 
    min-height: 100vh;
}
.container{
    width: 100%;
    border: 2px solid pink;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    display: grid;
    margin: 0 auto;
    background-color: rgb(253, 240, 248);
    grid-template-columns: 1fr 2fr;
}
img{
    border-radius: 50%;
    margin: 0 20px;
    margin: 0 auto;
    display: block;
}

.container .left{
    position: relative;
    background-color: rgb(105, 5, 38);
    padding: 40px;
    color: rgb(252, 225, 247);
}
.left h2{
    font-size: 30px;
   text-align: center;
}

.left h4{
    font-size:20px ;
    text-align: center;
}
.contact a{
    text-decoration: none;
    color: rgb(94, 91, 91);
}
.contact .number{
    color: rgb(94, 91, 91);
}
 
h3{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: black;
    font-size: 28px;
}
.education li{
    list-style: none;
}
 .date{
    color: rgb(126, 98, 98);
    font-size: 20px;
}

.container .right{
    position: relative;
     background-color: rgb(252, 225, 247);
    padding: 40px;
}
.paragraph{
    line-height: 30px;
    font-size: 19px;

}
table{
    margin: 60px 0;
}
th, td{
    padding: 10px;

}
.details{
font-size: 22px;
text-decoration: underline;
}
.month{
    font-size: 20px;
}

table a{
    text-decoration: none;
    color: rgb(90, 24, 79);
    font-size: 20px;
}
.skill{
    font-size: 25px;
}
.stars li{
    list-style: none;
}
.lang{
    font-family: "DM Serif Display", serif;
}
.interests{
    font-size: 20px;
    margin-bottom: 20px;
}
 .int li{
    margin-top: 20px;
    
}
.int a{
    text-decoration: none;
    color: rgb(105, 5, 38);
}

@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}