body{
    background-color: rgb(252, 237, 249);
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 100%;
    border: 2px solid pink;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    display: grid;
    margin: 0 auto;
    background-color: rgb(253, 240, 248);
    grid-template-columns: 1fr 2fr;
}
img{
    border-radius: 50%;
    margin: 0 20px;
}

.container .left{
    position: relative;
    background-color: rgb(105, 5, 38);
    padding: 40px;
    color: rgb(252, 225, 247);
}
.left h2{
    font-size: 30px;
}
.left h4{
    font-size:20px ;
}

.container .right{
    position: relative;
     background-color: rgb(252, 225, 247);
    padding: 40px;
}